@model BibliotecaMVC.Models.Autor

@{
    ViewData["Title"] = "Agregar Autor";
}

<h2>Agregar Autor</h2>

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Nombre"></label>
        <input asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>

    <br />

    <button type="submit" class="btn btn-primary">Guardar</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
