@model IEnumerable<BibliotecaMVC.Models.Prestamo>

<h2>Préstamos Activos</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Libro</th>
            <th>Solicitante</th>
            <th>Fecha Préstamo</th>
            <th>Acción</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.Libro.Titulo</td>
                <td>@p.NombreSolicitante</td>
                <td>@p.FechaPrestamo.ToShortDateString()</td>
                <td>
                    <form asp-action="Devolver" method="post">
                        <input type="hidden" name="id" value="@p.PrestamoID" />
                        <button class="btn btn-success btn-sm">
                            Devolver
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
