@model BibliotecaMVC.Models.Libro

@{
    ViewData["Title"] = "Agregar Libro";
}

<h2>Agregar Libro</h2>

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Titulo"></label>
        <input asp-for="Titulo" class="form-control" />
        <span asp-validation-for="Titulo" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="AutorID">Autor</label>
        <select asp-for="AutorID" asp-items="ViewBag.Autores" class="form-control">
            <option value="">Seleccione un autor</option>
        </select>
        <span asp-validation-for="AutorID" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Stock"></label>
        <input asp-for="Stock" class="form-control" />
        <span asp-validation-for="Stock" class="text-danger"></span>
    </div>

    <br />

    <button type="submit" class="btn btn-primary">Guardar</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

