@using BibliotecaMVC.Models
@inject SignInManager<ApplicationUser> SignInManager
<ul class="nav nav-pills flex-column gap-2 mt-2">
    <li class="nav-item"><a class="nav-link text-center rounded-pill fw-bold @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">👤 Mi Perfil</a></li>
    <li class="nav-item"><a class="nav-link text-center rounded-pill fw-bold @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email">📧 Cambiar Correo</a></li>
    <li class="nav-item"><a class="nav-link text-center rounded-pill fw-bold @ManageNavPages.PhoneNavClass(ViewContext)" id="phone" asp-page="./Phone">📱 Cambiar Teléfono</a></li>
    <li class="nav-item"><a class="nav-link text-center rounded-pill fw-bold @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">🔑 Contraseña</a></li>
</ul>
