@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Cambiar Contraseña";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-9">
        <form id="change-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            
            <div class="form-floating mb-3">
                <input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Contraseña actual" />
                <label asp-for="Input.OldPassword" class="form-label">Contraseña Actual</label>
                <span asp-validation-for="Input.OldPassword" class="text-danger small"></span>
            </div>
            
            <div class="form-floating mb-3">
                <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Nueva contraseña" />
                <label asp-for="Input.NewPassword" class="form-label">Nueva Contraseña</label>
                <span asp-validation-for="Input.NewPassword" class="text-danger small"></span>
            </div>
            
            <div class="form-floating mb-4">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Confirmar contraseña"/>
                <label asp-for="Input.ConfirmPassword" class="form-label">Confirmar Nueva Contraseña</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger small"></span>
            </div>
            
            <button type="submit" class="w-100 btn btn-lg btn-danger fw-bold shadow-sm rounded-pill pt-2 pb-2">
                🛡️ Actualizar Contraseña
            </button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
