@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-9">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            
            <div class="form-floating mb-3">
                <input asp-for="Username" class="form-control bg-light" placeholder="Usuario Actual" disabled />
                <label asp-for="Username" class="form-label text-muted">Nombre de Usuario Generado</label>
            </div>
            
            <div class="form-floating mb-4">
                <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Introduce tu teléfono"/>
                <label asp-for="Input.PhoneNumber" class="form-label">Teléfono (Opcional)</label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger small"></span>
            </div>
            
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary fw-bold shadow-sm rounded-pill pt-2 pb-2">
                💾 Guardar Cambios
            </button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
