@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BibliotecaMVC</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body class ="d-flex flex-column min-vh-100">

    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom shadow-sm mb-3">
            <div class="container-fluid">

                <a class="navbar-brand fw-bold" asp-controller="Home" asp-action="Index">
                    📚 Sistema de Biblioteca
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#mainNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="mainNavbar">
                    <ul class="navbar-nav me-auto">

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Index">
                                Home
                            </a>
                        </li>

                        @if (User.IsInRole("Usuario"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Prestamos" asp-action="Index">
                                    Préstamos
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Prestamos" asp-action="Historial">
                                    Historial
                                </a>
                            </li>
                            <li>
                                <a class="btn btn-danger" asp-controller="Multas" asp-action="MisMultas">
                                    Mis Multas
                                </a>
                            </li>

                            @await Component.InvokeAsync("MultaUsuario")
                        }

                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Admin" asp-action="Index">
                                    Dashboard
                                </a>
                            </li>
                            
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Libros" asp-action="Create">
                                    Agregar Libro
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Autores" asp-action="Create">
                                    Agregar Autor
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Prestamos" asp-action="Todos">
                                    Todos los Préstamos
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Admin" asp-action="Usuarios">
                                    Gestión Usuarios
                                </a>
                            </li>
                        }
                    </ul>
                    <ul class="navbar-nav">

                        @{
                            var usuarioActual = await UserManager.GetUserAsync(User);
                        }

                        @if (User.Identity?.IsAuthenticated == true)
                        {
                            

                            <li class="nav-item">
                                <span class="nav-link text-primary fw-semibold">
                                    👤 @usuarioActual?.NombreCompleto
                                </span>
                            </li>

                            <li class="nav-item">
                                <form asp-area="Identity"
                                      asp-page="/Account/Logout"
                                      method="post">
                                    <button type="submit" class="btn btn-link nav-link">
                                        Cerrar sesión
                                    </button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link"
                                   asp-area="Identity"
                                   asp-page="/Account/Login">
                                    Iniciar sesión
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link"
                                   asp-area="Identity"
                                   asp-page="/Account/Register">
                                    Regístrate
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container flex-fill">
        <main role="main" class="pb-3">

            <div class="container mt-3">

                @if (TempData["Success"] != null)
                {
                    <div class="alert alert-success alert-dismissible fade show">
                        @TempData["Success"]
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    </div>
                }

                @if (TempData["Error"] != null)
                {
                    <div class="alert alert-danger alert-dismissible fade show">
                        @TempData["Error"]
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    </div>
                }

            </div>

            @RenderBody()

        </main>
    </div>

    <footer class="border-top footer text-muted mt-auto">
        <div class="container text-center">
            &copy; 2026 - BibliotecaMVC
        </div>
    </footer>

    <script>
            setTimeout(function () {
                let alerts = document.querySelectorAll('.alert');
                alerts.forEach(a => a.classList.remove('show'));
            }, 4000);
    </script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
